@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
/* font-family: 'Kdam Thmor Pro', sans-serif; */

@import url('https://fonts.cdnfonts.com/css/impact');
/* font-family: 'Impact', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
/* font-family: 'Lato', sans-serif; */

@import url('https://fonts.cdnfonts.com/css/mcdonalds-helvetica');
/* font-family: 'McDonalds Helvetica', sans-serif; */


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.divtoda {
    margin-top: 100px;
}

.header {
    width: 100%;
    height: 100px;
    background-color: red;
    border-bottom: 1px solid yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
    font-size: 22px;
    font-family: 'Lato', sans-serif;

    position: fixed;
    top: 0;
    z-index: 1000;
}

.header .nav {
    width: 650px;
    display: flex;
    justify-content: space-around;

}

.header .menu-celular, .nav- {
    display: none;
}

.header a {
    cursor: pointer;
    color: white;
}
  
.header a:hover {
    transition: .5s;
    text-decoration: underline;
    color: yellow;
}

.mc-logo-div {
    width: 150px;
    height: 100px;

    display: grid;
    justify-content: center;
    align-items: center;
}

.mc-logo {
    width: 80px;
    height: 80px;
}

.div1 {
    width: 100%;
    height: 700px;
    background-color: red;
}

.div1- {
    height: 415px;
}

    .banner {
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 450px;
    }

    .banner-content {
        width: 95%;
        height: 400px;
        background-color: darkred;

        background-image: url(./assets/mc-banner01.png);

        background-position: center;
        background-size: cover;

        display: grid;
        align-items: end;
    }

    .dots {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dots-content {
        width: 175px;
        height: 30px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .dot {
        width: 25px;
        height: 25px;
        border-radius: 20px;

        background-color: cyan;
        border: 1px solid black;

        opacity: 80%;

        transition: .5s;
        cursor: pointer;
    }

.sauce {
    width: 100%;
    height: 500px;
    background-image: url(./assets/sauce.png);
    background-color: yellow;
    margin-top: -1px;
}

.div2 {
    width: 100%;
    height: 550px;
    background-color: yellow;

    display: grid;
    justify-content: center;
}

.div2- {
    height: 900px;
}

.home-boxs {
    width: 950px;
    height: 480px;

    margin-top: -120px;

    display: flex;
    justify-content: space-around;

}

.home-box {
    width: 350px;
    height: 480px;
    background-color: red;

    border-radius: 10px;

    border: 1px solid #FFC000;
}

.home-box01 {
    display: grid;
    justify-content: center;

}

.home-box02 {
    display: grid;
    justify-content: center;

}

.img-box {
    width: 280px;
    height: 384px;
    margin-top: 20px;
    border-radius: 5px;

    background-size: cover;
    background-position: center;

    border: 1px solid #FFC000;
}

.img-box01 {
    background-image: url(https://i.pinimg.com/originals/fe/18/45/fe18459bfd11b04e0fecff3794950774.png);
}

.img-box02 {
    background-image: url(./assets/Mobile_Banner_Principal_Ifood_18cc9e58f7.jpg);
}

.btn-box {
    width: 280px;
    height: 50px;
    background-color: #FFC000;
    border-radius: 8px;

    cursor: pointer;

    font-family: 'McDonalds Helvetica', sans-serif;
    font-size: 25px;
    color: rgba(255, 255, 255, 100%);

    border: 1px solid #FFC000;
}

.home-boxs2-bg {
    width: 845px;
    height: 320px;
    display: grid;
    justify-content: center;
    align-items: center;
    background: red;
    border-radius: 15px;
}

.home-boxs2 {

    width: 950px;
    height: 300px;

    display: flex;
    justify-content: center;
}

.home-box2 {
    width: 825px;
    height: 300px;
    border-radius: 10px;
    background-color: red;
    border: 1px solid yellow;

    background-image: url(./assets/Banner_Rodapee_estamos_Juntos_01_410x180xp_809c5044aa.png);

    background-size: cover;

}

.footer {
    width: 100%;
    height: 230px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: red;
    
    font-size: 20px;
    color: white;
    font-family: 'Lato', sans-serif;

    border-top: 1px solid yellow;
}




@media(max-width: 768px) {

.header {
    justify-content: center;
}

.header .nav {
    display: none;
}

.header .menu-celular {
    width: 50px;
    height: 50px;
    margin-right: -150px;

    font-size: 40px;
    color: yellow;

    display: block;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-celular-aberto {
    width: 100%;
    height: 90%;
    position: fixed;
    margin-top: 765px;
    right: 0;
    z-index: 1000;

    display: none;

    background-color: rgba(255, 0, 0, 80%);
    border-left: 1px solid white;
    border-top: 1px solid yellow;
}

.header .nav- {
    display: grid;
    justify-content: center;
    align-content: space-evenly;

    height: 300px;

    font-size: 30px;
}

.mc-logo {
    margin-right: 110px;
}


.banner-content {
    height: 170px;
    margin-top: 15px;
}

.banner {
    height: 200px;
}

.dot {
    width: 15px;
    height: 15px;
}

.dots-content {
    width: 120px;
}

.div1- {
    height: 15px;
}

.div2- {
    height: 530px;
}

.home-boxs {
    width: 390px;
    margin-top: -125px;
}

.home-box {
    width: 175px;
    height: 300px;
}

.home-boxs2-bg {
    width: 380px;
    height: 170px;
    margin-right: -80px;
}

.home-boxs2 {
    width: 80%;
    margin-top: -150px;
}

.home-box2 {
    width: 360px;
    height: 150px;

}

.img-box {
    width: 140px;
    height: 192px;
}

.btn-box {
    width: 140px;
    height: 50px;

    font-size: 13px;
}

}